<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>LongLongURL</title>
  </head>

  <body>
      <p><a href="/">Home</a></p>
      <p>Original URL: <a href="{{ og_url }}">{{ og_url }}</a></p>
      <p>LongLongURL:</p>
      <textarea name="long-link" id="long-link" cols="150" rows="20">{{ lnglng_url }}</textarea>
  </body>
  <div>
      <p>
          Created by Garrity | <a href="https://www.github.com/garrityv">GitHub</a>
           | Support Me <a href="https://www.buymeacoffee.com/garrity">Here</a>
      </p>
  </div>
</html>
